<script type="text/javascript">
jQuery(document).ready(function() {
	checkLogin();
	insertTitle();
	initGoogleAd();
});

function checkLogin() {
	jQuery.ajax({
	   type: "POST",
	   url: "/user/check-login.htm",
	   success: function(content) {
	   		if(content != '') {
	   			jQuery('#user_showname').html(content + ", ");
	   			jQuery('#user_signin').hide();
	   			jQuery('#user_showname').show();
	   			jQuery('#user_signout').show();
	   		}
		}
	});
}

function insertTitle() {
	jQuery.ajax({
	   type: "POST",
	   url: "/common/insert-title.htm",
	   success: function(content) {
	   		var titles = content.split("_");
	   		for(i=1; i<=titles.length; i++) {
	   			if(i != 8)
	   				jQuery('#title' + i).html(titles[i-1]);
	   			else
	   				jQuery('#title8').attr('title', titles[i-1]);
	   		}
		}
	});
}
</script>

<script language='JavaScript' src="/js_base/kf.js" type=text/javascript></script>

<div class="top_bg font_samll_3">
	<div style="float:left;">
		<a href="/others/mail.htm">
			<img id="title8" border="0" src="/images/common/mail.jpg" height="35" alt="Add to mail list"/>
		</a>
	</div>
	<div style="float:left;margin:3px 0 0 20px;">
		<a href="/select-language.htm?language=en"><img src="/images/common/ukicon.png" height="20" alt="English"/></a>
		<a href="/select-language.htm?language=ja"><img src="/images/common/worldwide_jp.png" height="20" alt="Japaness"/></a>
		<a href="/select-language.htm?language=zh"><img src="/images/common/china.jpg" height="20" alt="Chinese"/></a>
	</div>
	<div style="float:right">
		<span id="user_signin">
			<span id="title1"></span> 
			<a href="/user/sign-in.htm"><span id="title2"></span></a> | 
			<a href="/user/sign-up.htm"><span id="title3"></span></a>
		</span>
		<span id="user_showname" style="display:none;"></span><span id="user_signout" style="display:none;">
			<span id="title4"></span> 
			<a href="/user/orders.htm"><span id="title5"></span></a> | 
			<a href="/user/information.htm"><span id="title6"></span></a> | 
			<a href="/user/sign-out.htm"><span id="title7"></span></a>
		</span>
	</div>
</div>
<div class="top_adv center">
	<a href="${entity.advertisment.advertisementLink}" target="_blank"><img src="${entity.advertisment.advertisementPath}" alt="${entity.advertisment.advertisementTitle}" width="728" height="91"/></a>
	
	<!-- Google Ad -->
	<script type="text/javascript">
	<!--
		google_ad_client = "ca-pub-3476096835770662";
		/* CCW Title Ad */
		google_ad_slot = "9009695822";
		google_ad_width = 728;
		google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
	<!-- Google Ad end -->
</div>
<div class="center">
	<div class="left logo"><a href="/index.htm"><img src="/images/framework/logo.jpg" /></a></div>
    <div class="right logoright"><img src="/images/framework/logo-right.jpg" /></div>
</div>
<div class="center both logo-bottom"><img src="/images/framework/logo_bottom.jpg" /></div>



<script type="text/javascript">
function tips_pop(){
  var MsgPop=document.getElementById("winpop");
  var popH=parseInt(MsgPop.style.height);
   if (popH==0){
   MsgPop.style.display="block";
  show=setInterval("changeH('up')",2);
   }
  else { 
   hide=setInterval("changeH('down')",2);
  }
}
function changeH(str) {
 var MsgPop=document.getElementById("winpop");
 var popH=parseInt(MsgPop.style.height);
 if(str=="up"){
  if (popH<=150){
  MsgPop.style.height=(popH+4).toString()+"px";
  }
  else{  
  clearInterval(show);
  }
 }
 if(str=="down"){ 
  if (popH>=4){  
  MsgPop.style.height=(popH-4).toString()+"px";
  }
  else{ 
  clearInterval(hide);   
  MsgPop.style.display="none";
  }
 }
}

function initGoogleAd() {
	var diffY;
	if (document.documentElement && document.documentElement.scrollTop)
	    diffY = document.documentElement.scrollTop;
	else if (document.body)
	    diffY = document.body.scrollTop;
	var clientY;
    if (document.documentElement && document.documentElement.clientHeight)
	    clientY = document.documentElement.clientHeight;
	else if (document.body)
		clientY = document.body.clientHeight;
    
	document.getElementById('winpop').style.height = '0px';
	document.getElementById('winpop').style.top = (diffY + clientY - 152) + 'px';
	setTimeout("tips_pop()", 800);
	window.setInterval("heartBeatAd()", 100);
}

function heartBeatAd(){
	var diffY;
	if (document.documentElement && document.documentElement.scrollTop)
	    diffY = document.documentElement.scrollTop;
	else if (document.body)
	    diffY = document.body.scrollTop;
	
	var clientY;
    if (document.documentElement && document.documentElement.clientHeight)
	    clientY = document.documentElement.clientHeight;
	else if (document.body)
		clientY = document.body.clientHeight;
		
	var MsgPop = document.getElementById("winpop");
	var popH = parseInt(MsgPop.style.height);
		
	document.getElementById('winpop').style.top = (diffY + clientY - popH) + 'px';
}
</script>
<div id="winpop">
	<div class="title"><span class="close" onclick="tips_pop()">X</span></div>
	<div class="con">
	    <script type="text/javascript">
	    <!--
			google_ad_client = "ca-pub-3476096835770662";
			/* CCW Right Bottom Ad */
			google_ad_slot = "4034387187";
			google_ad_width = 180;
			google_ad_height = 150;
		//-->
		</script>
		<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	</div>
</div>